audit/data/workflows/bee.json
{
  "updatedAt": "2026-05-28T14:33:21.515Z",
  "createdAt": "2026-05-22T22:51:33.781Z",
  "id": "N03TEmB50zG0XiiP",
  "name": "Agent 2 \u2014 Bee v3 (SEO Crawl + Execute)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trig_sched",
      "name": "Daily 6AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "trig_manual",
      "name": "Manual Fire (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        460
      ],
      "parameters": {
        "path": "fire-seo-optimizer",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "fire-seo-optimizer"
    },
    {
      "id": "fetch_pages",
      "name": "Get All Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        250
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.liftnow.com/wp-json/wp/v2/pages?per_page=100&status=publish&_fields=id,link,slug,title,date,excerpt,type",
        "options": {
          "timeout": 60000
        }
      },
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "id": "fetch_posts",
      "name": "Get All Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.liftnow.com/wp-json/wp/v2/posts?per_page=100&status=publish&_fields=id,link,slug,title,date,excerpt,type",
        "options": {
          "timeout": 60000
        }
      },
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "id": "filter_pages",
      "name": "Filter Content Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        325
      ],
      "parameters": {
        "jsCode": "// Bee v3.1 \u2014 assemble ALL content URLs from WP pages + posts + product categories.\nfunction flatten(nodeName) {\n  const out = [];\n  let items;\n  try { items = $(nodeName).all(); } catch (e) { return out; }\n  for (const it of items) {\n    const j = it.json;\n    if (Array.isArray(j)) out.push(...j);\n    else if (j && Array.isArray(j.body)) out.push(...j.body);\n    else if (j && Array.isArray(j.data)) out.push(...j.data);\n    else if (j) out.push(j);\n  }\n  return out;\n}\n\nconst pages = flatten('Get All Pages').map(p => ({...p, _wp_type: 'pages'}));\nconst posts = flatten('Get All Posts').map(p => ({...p, _wp_type: 'posts'}));\nlet cats = [];\ntry {\n  const page1 = flatten('Get All Product Categories');\n  const page2 = flatten('Get All Product Categories Page 2');\n  cats = [...page1, ...page2].map(p => ({...p, _wp_type: 'product_cat'}));\n} catch (e) {}\n\nconst all = [...pages, ...posts, ...cats];\n\nconst SKIP_PAGES = [103, 2];\nconst KILL_URL_PATTERNS = [\n  /\\/wp-/i, /\\/feed/i, /\\/cart/i, /\\/checkout/i, /\\/my-account/i,\n  /\\/privacy/i, /\\/terms/i, /\\/contact/i\n];\n\nconst out = [];\nfor (const p of all) {\n  if (SKIP_PAGES.includes(p.id)) continue;\n  const link = p.link || '';\n  if (!link) continue;\n  if (KILL_URL_PATTERNS.some(re => re.test(link))) continue;\n  // product_cat: skip categories with 0 products (empty pages aren't worth optimizing)\n  if (p._wp_type === 'product_cat' && (p.count || 0) === 0) continue;\n\n  out.push({\n    wpId: p.id,\n    url: link,\n    slug: p.slug || '',\n    title: (p.title && p.title.rendered) || p.name || '',  // categories use `name`\n    type: p.type || p._wp_type || 'page',\n    wp_type: p._wp_type,  // 'pages' | 'posts' | 'product_cat' \u2014 for REST endpoint routing\n    publishedAt: p.date || null,\n    excerpt: p._wp_type === 'product_cat'\n      ? String(p.description || '').replace(/<[^>]+>/g, '').slice(0, 300)\n      : String((p.excerpt && p.excerpt.rendered) || '').replace(/<[^>]+>/g, '').slice(0, 200),\n    description: p._wp_type === 'product_cat' ? (p.description || '') : null,\n    productCount: p._wp_type === 'product_cat' ? (p.count || 0) : null,\n    wp_edit_url: p._wp_type === 'product_cat'\n      ? 'https://liftnow.com/wp-admin/term.php?taxonomy=product_cat&tag_ID=' + p.id\n      : 'https://liftnow.com/wp-admin/post.php?post=' + p.id + '&action=edit',\n  });\n}\n\nreturn out.map(o => ({json: o}));\n"
      }
    },
    {
      "id": "gsc",
      "name": "GSC 90d Search Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        325
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/webmasters/v3/sites/sc-domain%3Aliftnow.com/searchAnalytics/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  startDate: $now.minus({days:90}).toFormat(\"yyyy-MM-dd\"),\n  endDate: $now.minus({days:1}).toFormat(\"yyyy-MM-dd\"),\n  dimensions: [\"page\", \"query\"],\n  rowLimit: 1000,\n  dataState: \"final\"\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "oAuth2Api": {
          "id": "R24TuEIQaF3bmQSZ",
          "name": "Google Search Console OAuth2"
        }
      },
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "id": "classifier",
      "name": "Diagnostic Classifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        325
      ],
      "parameters": {
        "jsCode": "// Bee v3 \u2014 per-page SEO opportunity detection (memory-conscious)\nconst gsc = $('GSC 90d Search Analytics').first().json;\nconst rows = (gsc.rows || []).slice(0, 1000);\n// Filter Content Pages emits ONE item per page via map() so $input.all() = all pages\nconst pages = $input.all().map(i => i.json);\n\n// Build per-URL aggregation from GSC rows\nconst byUrl = {};\nfor (const r of rows) {\n  const url = r.keys?.[0];\n  if (!url) continue;\n  byUrl[url] = byUrl[url] || {clicks:0, impressions:0, positionSum:0, positionCount:0, queries:[]};\n  const e = byUrl[url];\n  e.clicks += r.clicks || 0;\n  e.impressions += r.impressions || 0;\n  e.positionSum += (r.position || 0) * (r.impressions || 1);\n  e.positionCount += (r.impressions || 1);\n  // Only keep top 8 queries per URL to control memory\n  if (e.queries.length < 8) {\n    e.queries.push({q: r.keys[1], pos: r.position, clicks: r.clicks, impressions: r.impressions});\n  }\n}\n\nconst opportunities = [];\nconst now = Date.now();\n\nfor (const page of pages) {\n  // Try multiple URL variations (with/without trailing slash, http/https)\n  const variants = [page.url, page.url.replace(/\\/$/,''), page.url.replace(/^http:/, 'https:')];\n  let agg = null;\n  for (const v of variants) {\n    if (byUrl[v]) { agg = byUrl[v]; break; }\n    if (byUrl[v + '/']) { agg = byUrl[v + '/']; break; }\n  }\n  // Compute age\n  const ageDays = page.publishedAt ? Math.floor((now - new Date(page.publishedAt).getTime())/86400000) : null;\n  if (!agg) {\n    // No GSC data for this page = either indexability issue OR too new\n    if (ageDays && ageDays > 30) {\n      opportunities.push({\n        ...page,\n        opportunity: 'INDEX_GAP',\n        priority: 'MEDIUM',\n        severity: 0,\n        diagnosis: 'Page is ' + ageDays + 'd old but has 0 GSC impressions in last 90d. Likely an indexability issue (noindex, redirect, low-quality penalty, or never submitted to GSC).',\n        avg_position: null, impressions_90d: 0, clicks_90d: 0,\n        top_query: null\n      });\n    }\n    continue;\n  }\n  const avgPos = agg.positionCount ? agg.positionSum / agg.positionCount : 0;\n  const ctr = agg.impressions ? (agg.clicks / agg.impressions) : 0;\n  agg.queries.sort((a,b) => b.impressions - a.impressions);\n  const topQuery = (agg.queries[0] || {}).q || '';\n\n  // Opportunity classifications\n  if (avgPos >= 1 && avgPos <= 5 && ctr < 0.008 && agg.impressions > 200) {\n    opportunities.push({\n      ...page,\n      opportunity: 'HIGH_IMP_LOW_CTR',\n      priority: 'HIGH',\n      severity: agg.impressions * (0.05 - ctr),  // potential clicks if CTR hit 5%\n      diagnosis: 'Ranks position ' + avgPos.toFixed(1) + ' for \"' + topQuery + '\" with ' + agg.impressions + ' impressions but only ' + (ctr*100).toFixed(2) + '% CTR. Title or meta description likely off-target.',\n      avg_position: Math.round(avgPos*10)/10, impressions_90d: agg.impressions, clicks_90d: agg.clicks,\n      ctr_pct: Math.round(ctr*10000)/100,\n      top_query: topQuery,\n      top_queries: agg.queries.slice(0, 5)\n    });\n  } else if (avgPos >= 11 && avgPos <= 20 && agg.impressions > 50) {\n    opportunities.push({\n      ...page,\n      opportunity: 'PAGE_2_STRUGGLE',\n      priority: 'HIGH',\n      severity: agg.impressions * 0.3,  // potential traffic if breaks page 1\n      diagnosis: 'Stuck on page 2 (position ' + avgPos.toFixed(1) + ') for \"' + topQuery + '\" with ' + agg.impressions + ' impressions. Likely needs content depth: add H2 targeting \"' + topQuery + '\", expand with specific examples / numbers.',\n      avg_position: Math.round(avgPos*10)/10, impressions_90d: agg.impressions, clicks_90d: agg.clicks,\n      ctr_pct: Math.round(ctr*10000)/100,\n      top_query: topQuery,\n      top_queries: agg.queries.slice(0, 5)\n    });\n  } else if (avgPos >= 21 && avgPos <= 50 && agg.impressions > 20) {\n    opportunities.push({\n      ...page,\n      opportunity: 'SLEEPING_GIANT',\n      priority: 'MEDIUM',\n      severity: agg.impressions * 0.1,\n      diagnosis: 'Sleeping at position ' + avgPos.toFixed(1) + ' for \"' + topQuery + '\" \u2014 earning ' + agg.impressions + ' impressions but rarely shown. Either content depth issue or competitor strength. Needs significant content expansion.',\n      avg_position: Math.round(avgPos*10)/10, impressions_90d: agg.impressions, clicks_90d: agg.clicks,\n      ctr_pct: Math.round(ctr*10000)/100,\n      top_query: topQuery,\n      top_queries: agg.queries.slice(0, 5)\n    });\n  }\n}\n\n// Sort by severity (higher = bigger potential traffic win)\nopportunities.sort((a,b) => b.severity - a.severity);\n\n// Take top 5 per run\nconst top = opportunities.slice(0, 5);\n\nconst sd = $getWorkflowStaticData('global');\nsd.lastScan = new Date().toISOString();\nsd.lastOppCount = opportunities.length;\n\nif (!top.length) {\n  return [{json: {noOpportunity: true, pages_scanned: pages.length, gsc_rows: rows.length, opportunities_found: 0, note: 'No SEO opportunities crossing thresholds. Either content is performing well or impressions are still too low.'}}];\n}\n\nreturn top.map(o => ({json: o}));\n"
      }
    },
    {
      "id": "if_opp",
      "name": "Has Opportunity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        325
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a",
              "leftValue": "={{ $json.noOpportunity ? 0 : 1 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "build_llm",
      "name": "Build LLM Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        250
      ],
      "parameters": {
        "jsCode": "// REDIRECT_REMAP_INJECTED v8 \u2014 Vercel redirect-check + WC slug fallback\nconst _ALL_ITEMS = $('Filter Content Pages').all().map(i => i.json);\nconst _inItem = $input.first().json || {};\nconst _candidateUrl = _inItem.url || '';\n_inItem._redirectCheck = { attempted: false };\n\n// P1-E HELPER GATE: hard-fail Bee if known-models is empty/errored.\nconst _kmResp = (() => { try { return $('Fetch Known Models').first().json; } catch(e) { return null; }})();\nconst _kmBrands = (_kmResp && _kmResp.brands) || null;\nconst _kmHealthy = _kmBrands && Object.keys(_kmBrands).length > 0 &&\n                   Object.values(_kmBrands).some(b => Array.isArray(b && b.models) && b.models.length > 0);\nif (!_kmHealthy) {\n  _inItem.skipped = true;\n  _inItem.skipReason = 'Bee bailing \u2014 Vercel /api/known-models returned no usable model data. Refusing to draft without grounding.';\n  return [];\n}\n\n\n\nasync function _findInPoolOrFetchCat(absDest) {\n  const _norm = u => (u || '').replace(/\\/+$/, '').toLowerCase();\n  let match = _ALL_ITEMS.find(it => _norm(it.url) === _norm(absDest));\n  if (match) return { match, fetched: false };\n  // Fallback: if it's a /products/<slug>/ URL, try to fetch the WC category by slug\n  const m = absDest.match(/\\/products\\/([^\\/]+)\\/?$/);\n  if (m) {\n    const slug = m[1];\n    try {\n      const cat = await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'https://www.liftnow.com/wp-json/wp/v2/product_cat?slug=' + encodeURIComponent(slug) + '&_fields=id,link,slug,name,description,count',\n        json: true,\n        timeout: 8000,\n        ignoreHttpStatusErrors: true,\n      });\n      if (Array.isArray(cat) && cat.length > 0) {\n        const c = cat[0];\n        return {\n          match: {\n            wpId: c.id,\n            url: c.link,\n            slug: c.slug,\n            title: c.name || '',\n            wp_type: 'product_cat',\n            description: c.description || '',\n            productCount: c.count || 0,\n            wp_edit_url: 'https://liftnow.com/wp-admin/term.php?taxonomy=product_cat&tag_ID=' + c.id,\n          },\n          fetched: true,\n        };\n      }\n    } catch (e) {}\n  }\n  return { match: null, fetched: false };\n}\n\nif (_candidateUrl) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://bid-iq-neon.vercel.app/api/check-redirect?url=' + encodeURIComponent(_candidateUrl),\n      json: true,\n      timeout: 10000,\n      ignoreHttpStatusErrors: true,\n    });\n    _inItem._redirectCheck = { attempted: true, candidateUrl: _candidateUrl, ...res };\n    if (res && res.ok && res.redirected && res.location) {\n      const _absDest = res.location.startsWith('http') ? res.location : ('https://liftnow.com' + res.location);\n      _inItem._redirectCheck.destination = _absDest;\n      const lookup = await _findInPoolOrFetchCat.call(this, _absDest);\n      _inItem._redirectCheck.matchedInPool = !!lookup.match && !lookup.fetched;\n      _inItem._redirectCheck.matchedViaSlugFetch = !!lookup.match && lookup.fetched;\n      if (lookup.match) {\n        const _match = lookup.match;\n        _inItem._originalRedirected = { from: _candidateUrl, to: _absDest, original_wpId: _inItem.wpId };\n        _inItem.wpId = _match.wpId;\n        _inItem.url = _match.url;\n        _inItem.slug = _match.slug;\n        _inItem.title = _match.title || _inItem.title;\n        _inItem.wp_type = _match.wp_type;\n        _inItem.wp_edit_url = _match.wp_edit_url;\n        if (_match.wp_type === 'product_cat') {\n          _inItem.current_description = _match.description || '';\n          _inItem.productCount = _match.productCount || 0;\n        }\n        _inItem._remappedToDestination = true;\n      } else {\n        // P1-E: bail early instead of wasting a draft on an untracked page.\n        _inItem.skipped = true;\n        _inItem.skipReason = 'Bee bailing \u2014 redirected to non-tracked destination: ' + _absDest;\n        return [];\n      }\n    }\n  } catch (e) {\n    _inItem._redirectCheck = { attempted: true, candidateUrl: _candidateUrl, ok: false, error: String(e.message || e).slice(0, 200) };\n    _inItem.skipped = true;\n    _inItem.skipReason = 'Bee bailing \u2014 Vercel /api/check-redirect helper threw: ' + String(e.message || e).slice(0, 150);\n    return [];\n  }\n}\n// END REDIRECT_REMAP_INJECTED v8\n// KB_MODELS_INJECTED \u2014 inject authoritative product model list into LLM\n// system prompt so it can't hallucinate non-existent BendPak/Challenger/PKS models.\ntry {\n  const km = $('Fetch Known Models').first().json;\n  if (km && km.ok && km.brands) {\n    const sections = [];\n    for (const [brand, info] of Object.entries(km.brands)) {\n      const list = (info && info.models) || [];\n      if (list.length === 0) continue;\n      // Cap each brand at first 100 models to keep prompt tokens reasonable\n      const capped = list.slice(0, 100);\n      sections.push('  ' + brand.toUpperCase() + ' (' + list.length + ' total): ' + capped.join(', '));\n    }\n    if (sections.length > 0) {\n      _inItem._kbModelsBlock = '\\n\\n# AUTHORITATIVE PRODUCT MODELS \u2014 Liftnow KB (' + new Date().toISOString().slice(0,10) + ')\\n\\nLiftnow sells exactly these model numbers. If you reference a product, use ONE OF THESE EXACT NAMES. Do NOT invent. If your draft would mention a model not in this list, either pick the closest real one or omit the model number entirely.\\n\\n' + sections.join('\\n') + '\\n\\nHARD RULE: any model name you write must appear character-for-character in the list above. If unsure, refer to the lift category generically (\"two-post asymmetric\", \"four-post heavy-duty\") instead of guessing a specific model.';\n    }\n  }\n} catch (e) {\n  _inItem._kbModelsBlock = '';\n}\n// END KB_MODELS_INJECTED\n\n\n\n\n\n\n\n\n\n\nconst inputItem = $input.first().json || {};\nconst oppOriginal = inputItem.opp || {};\nconst candidateUrl = oppOriginal.url || '';\nif (candidateUrl) {\n  const dest = await checkRedirect.call(this, candidateUrl);\n  if (dest) {\n    // Resolve relative dest to absolute\n    const absDest = dest.startsWith('http') ? dest : ('https://liftnow.com' + dest);\n    // Try to find a candidate item with matching link (normalize trailing slash)\n    const norm = u => (u || '').replace(/\\/$/, '').toLowerCase();\n    const match = ALL_ITEMS.find(it => norm(it.url) === norm(absDest));\n    if (match) {\n      // Remap: replace opp's wp target with destination's\n      oppOriginal._originalRedirected = {from: candidateUrl, to: absDest, original_wpId: oppOriginal.wpId};\n      oppOriginal.wpId = match.wpId;\n      oppOriginal.url = match.url;\n      oppOriginal.slug = match.slug;\n      oppOriginal.title = match.title || oppOriginal.title;\n      oppOriginal.wp_type = match.wp_type;\n      oppOriginal.wp_edit_url = match.wp_edit_url;\n      // For categories, expose the existing description so LLM knows what's there\n      if (match.wp_type === 'product_cat') {\n        oppOriginal.current_description = match.description || '';\n      }\n      inputItem.opp = oppOriginal;\n      inputItem._remappedToDestination = true;\n    } else {\n      // Destination not in our pool \u2014 skip this opp entirely\n      inputItem.skipped = true;\n      inputItem.skipReason = 'redirected to non-tracked destination: ' + absDest;\n      return [{json: inputItem}];\n    }\n  }\n}\n// Bee v3 \u2014 build LLM payload for on-page fix\nconst VOICE = \"# VOICE \\u2014 PAUL STERN ARTICLE VOICE (mandatory for SEO drafts)\\n\\nYou are drafting on-page SEO fixes for a Liftnow content page. The page will be PATCHed in WordPress on Paul's approval. Match Paul's voice.\\n\\n## ALWAYS\\n- Brand: \\\"Liftnow\\\" (never \\\"LiftNow\\\" or \\\"LIFTNOW\\\")\\n- First-person plural \\\"we\\\" for Liftnow actions, \\\"you\\\" for reader\\n- Hedged contract promises: \\\"typically\\\", \\\"depending on the contract\\\", \\\"confirmed on the quote\\\"\\n- Industry shorthand without explanation (GVWR, Class 8, frame engagement, rolling jacks)\\n- Specific numbers always\\n- Active voice\\n\\n## NEVER\\n- \\\"Revolutionary\\\", \\\"industry-leading\\\", \\\"best-in-class\\\", \\\"cutting-edge\\\"\\n- \\\"In today's fast-paced fleet management world...\\\"\\n- Competitor brand names as Liftnow products (no Mohawk, Stertil-Koni, Rotary, Ari-Hetra, Hunter, Snap-on, Whip, Challenger)\\n- Absolute promises (\\\"always\\\", \\\"every\\\")\\n- \\\"ALI-certified inspection\\\" for Liftnow's service (we subcontract)\\n- \\\"We don't subcontract\\\" (false)\\n- \\\"45+ states\\\" \\u2014 use \\\"all 50 states\\\"\\n\\n## SEO-SPECIFIC\\n- Titles: 55-60 chars max. Include target keyword in first 3 words when natural.\\n- Meta description: 150-160 chars max. Include target keyword + concrete value proposition. End with implicit CTA.\\n- H2 sections: phrase as a question or specific claim the target keyword would search for.\\n- Body additions: 150-400 words of new content. Specific examples, numbers, scenarios.\\n\\n# IDENTITY \u2014 HARD RULE (overrides any conflicting voice instruction below)\\n\\nYou are writing AS LIFTNOW. Liftnow is a Sourcewell-contracted commercial vehicle lift DEALER + installer. Liftnow is NOT a fleet operator, NOT a customer, NOT an end user of the lifts. Liftnow SELLS and INSTALLS the lifts to government fleets, transit agencies, school districts, etc.\\n\\n## NEVER position Liftnow as a customer\\n- \u274c \\\"We just took delivery of a four-post mobile column set for our 47-truck fleet\\\"\\n- \u274c \\\"We installed a CL20 in our shop last week\\\"\\n- \u274c \\\"Our maintenance team uses...\\\"\\n- \u274c \\\"Our fleet runs...\\\"\\n- \u274c \\\"Since we switched to BendPak lifts...\\\"\\n- \u274c Any first-person \\\"we bought / we own / we operate / we maintain\\\" framing where \\\"we\\\" = a fleet that uses lifts.\\n\\n## ALWAYS position Liftnow as the dealer/installer\\n- \u2705 \\\"We spec'd a four-post mobile column set for a 47-truck municipal fleet last quarter \u2014 here's the breakdown.\\\"\\n- \u2705 \\\"From the Liftnow shop floor: across maybe 30 transit-bus installs in the past 18 months, the consistent friction point is column spacing on older depot bays.\\\"\\n- \u2705 \\\"When a customer asks us about CL20 vs CL12A, the real spec gap is...\\\"\\n- \u2705 \\\"Across the Liftnow installer network, the most common failure mode is...\\\"\\n- \u2705 \\\"Liftnow's been quoting under Sourcewell 121223-LFT since [date]; the contract field that catches buyers off-guard is...\\\"\\n\\n## Disclosure\\nThe reader should understand within the first 2 sentences that this is from a vendor sharing what they've learned, not from a fleet operator describing their own setup. If you can't write the piece without making Liftnow sound like a customer, RETURN skip:true.\\n\\n## Platform-specific\\n- LinkedIn: byline \\\"By Paul Stern, VP Public Sector Sales \u2014 Liftnow\\\" makes the dealer relationship clear; voice can still be first-person about Liftnow's experience.\\n- Reddit: even MORE careful \u2014 reddit users downvote covert advertising. Sign reply/post with \\\"\u2014 Paul, Liftnow\\\" or open with \\\"Liftnow rep here, but adding actual content vs sales pitch:\\\". Be honest about who you are; redditors respect honesty more than coverage.\\n- Blog/article: byline + clear \\\"Liftnow's experience across N installs\\\" framing in the opening.\\n\\n## Test before submitting\\nRe-read the draft. Ask: \\\"Would a reasonable reader think the author is a fleet operator who bought lifts?\\\" If yes, REWRITE entirely.\\n\\n\\n# PRICING \u2014 HARD RULE (additional to identity rule above)\\nNEVER include pricing estimates, dollar figures, contract pricing, \\\"starts at $X\\\", or \\\"$X-$Y range\\\" in any public post. Pricing has too many config-specific variables; posting a number anchors readers on figures that won't match their actual quote. Acceptable hedges:\\n- \\\"confirmed on the quote\\\"\\n- \\\"depends on your bay dimensions and vehicle list\\\"\\n- \\\"pricing varies by Sourcewell discount tier and configuration\\\"\\n- \\\"send your vehicle list + bay dimensions to gov@liftnow.com for a quote\\\"\\n\\nIf your draft includes any specific dollar figure for lift purchase, install, or contract cost, REMOVE it before posting. Even comparative pricing (\\\"Liftnow's typically 15-20% less than X\\\") is banned in public copy.\\n\";\nconst item = $input.first().json;\nconst opp = item.opportunity || '';\nconst topQueries = (item.top_queries || []).slice(0, 5).map(q => `  - \"${q.q}\" (pos ${q.pos.toFixed(1)}, ${q.impressions} imp, ${q.clicks} clicks)`).join(\"\\n\");\n\nlet task = '';\nif (opp === 'HIGH_IMP_LOW_CTR') {\n  task = `The page already ranks well (pos ${item.avg_position}) but the title/meta isn't getting clicked.\n\nGenerate:\n- new_title: a more compelling SEO title (55-60 chars) that hits \"${item.top_query}\" + Liftnow's specific value\n- new_meta_description: 150-160 chars, must mention \"${item.top_query}\", end with a concrete CTA-feel\n- diff_explanation: 1-2 sentences on why this should improve CTR`;\n} else if (opp === 'PAGE_2_STRUGGLE') {\n  task = `The page is on page 2 (pos ${item.avg_position}) for \"${item.top_query}\". It needs more content depth to break into page 1.\n\nGenerate:\n- new_h2: an H2 section heading that directly answers a search query a fleet manager would type when looking for \"${item.top_query}\". Phrase as a question or specific claim.\n- new_section_body: 200-400 words of substantive content under that H2. Include 2-3 specific numbers/examples (capacity ranges, real fleet sizes, contract specifics). MUST be in Paul's voice \u2014 no marketing fluff.\n- diff_explanation: 1-2 sentences on why this should push the page to page 1`;\n} else if (opp === 'SLEEPING_GIANT') {\n  task = `Page is sleeping at position ${item.avg_position} for \"${item.top_query}\". Likely competitor content has more depth.\n\nGenerate:\n- new_h2: H2 specifically targeting the gap\n- new_section_body: 300-500 words. Show domain expertise \u2014 specific spec ranges, contract clauses, real fleet scenarios.\n- diff_explanation: what depth was missing`;\n} else if (opp === 'INDEX_GAP') {\n  task = `Page exists but has 0 GSC impressions in 90 days. Diagnose what's wrong.\n\nGenerate:\n- diagnosis: ONE of: \"noindex tag present\", \"duplicate content with another page\", \"thin content / low quality\", \"URL structure issue\", \"submission gap\"\n- recommended_action: what to do (e.g. \"Submit to GSC manually, check robots.txt\")\n- new_section_body: leave empty for this opportunity type`;\n} else {\n  task = `Generic SEO optimization. Suggest the top 1 change to make to this page.`;\n}\n\nconst userMsg = `Page: ${item.title}\nURL: ${item.url}\nCurrent excerpt: ${item.excerpt}\n\nGSC top queries (last 90d):\n${topQueries}\n\nOpportunity type: ${opp}\nDiagnosis: ${item.diagnosis}\n\n${task}\n\nOutput ONLY valid JSON in this exact shape:\n{\n  \"new_title\": \"...\",\n  \"new_meta_description\": \"...\",\n  \"new_h2\": \"...\",\n  \"new_section_body\": \"...\",\n  \"diff_explanation\": \"...\",\n  \"skip\": false,\n  \"skip_reason\": \"\"\n}\n\nLeave any field empty string \"\" if not applicable to this opportunity type. If you can't produce a quality fix, set skip:true.`;\n\n\n// KB_MODELS_APPEND_TO_LLM \u2014 make sure the KB models block ends up in the system prompt\nif (_inItem && _inItem._kbModelsBlock && _inItem.llmBody && _inItem.llmBody.system) {\n  _inItem.llmBody.system = String(_inItem.llmBody.system) + _inItem._kbModelsBlock;\n}\n\nreturn [{json: {...item, llmBody: {\n  model: \"claude-sonnet-4-5\",\n  max_tokens: 2500,\n  system: VOICE,\n  messages: [{role: \"user\", content: userMsg}]\n}, llmBodyStr: JSON.stringify({\n  model: \"claude-sonnet-4-5\",\n  max_tokens: 2500,\n  system: VOICE,\n  messages: [{role: \"user\", content: userMsg}]\n})}}];\n"
      }
    },
    {
      "id": "draft",
      "name": "Draft Fix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        250
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.httpHeaderAuth.password }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llmBodyStr }}",
        "options": {
          "timeout": 90000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "bU6QPziNPD0EYh5j",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "id": "parse",
      "name": "Parse + QA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        250
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst text = (resp.content && resp.content[0] && resp.content[0].text) || '';\nconst opp = $('Build LLM Payload').first().json;\n\nlet parsed;\ntry {\n  const m = text.match(/\\{[\\s\\S]+\\}/);\n  parsed = JSON.parse(m[0]);\n} catch (e) {\n// KB_MODELS_QA_CHECK \u2014 scan body for model-looking strings and verify each is in the known list\ntry {\n  const km = $('Fetch Known Models').first().json;\n  if (km && km.ok && km.brands) {\n    const knownSet = new Set();\n    for (const info of Object.values(km.brands)) {\n      for (const m of (info.models || [])) knownSet.add(String(m).toUpperCase());\n    }\n    if (knownSet.size > 0) {\n      const body = String((newSection || '') + ' ' + (newTitle || '') + ' ' + (newExcerpt || ''));\n      // Find model-looking strings: 2-6 letter prefix + digits + optional suffix\n      const matches = body.match(/\\b[A-Z][A-Z0-9]{0,5}-?\\d{1,5}[A-Z0-9\\-]{0,10}\\b/g) || [];\n      const violators = [];\n      for (const m of matches) {\n        const up = m.toUpperCase();\n        // Skip obvious non-models\n        if (up.length < 3 || up.length > 25) continue;\n        if (/^\\d+$/.test(up)) continue;\n        if (!/[A-Z]/.test(up)) continue;\n        if (!/\\d/.test(up)) continue;\n        if (/^(TSB|REV|IOM|FR|EN|US|YR|CES|ANSI|ALI|GVWR|CFM|HP|LB|LBS|KG|KGS|FT|MM|CM|MPG|MPH|RPM|PSI)$/.test(up)) continue;\n        // Skip common non-product patterns: \"Type 1\", \"Class 8\", \"F-550\", \"10K\", etc\n        if (/^(TYPE|CLASS|F-?\\d+|[\\d]+K|[\\d]+LB|[\\d]+FT|[\\d]+MM)$/i.test(up)) continue;\n        // Skip year-like\n        if (/^(19|20)\\d{2}$/.test(up)) continue;\n        if (!knownSet.has(up)) {\n          violators.push(m);\n        }\n      }\n      if (violators.length > 0) {\n        bodyOk = false;\n        qaFailures = (qaFailures || []);\n        qaFailures.push('UNKNOWN_MODELS: ' + Array.from(new Set(violators)).slice(0, 8).join(', '));\n      }\n    }\n  }\n} catch (e) {}\n// END KB_MODELS_QA_CHECK\n\n  return [{json: {parseFailed: true, raw: text.slice(0, 500), opp}}];\n}\n\nif (parsed.skip) {\n  return [{json: {skipped: true, reason: parsed.skip_reason, opp}}];\n}\n\n// Voice gate\nconst banned = /(LiftNow|LIFTNOW|45\\+ states|We don'?t subcontract|dealing directly|ALI-certified inspection|industry-leading|best-in-class|cutting-edge|revolutionary|in this post|in today'?s fast-paced|\\bMohawk\\b|\\bStertil-Koni\\b|\\bRotary\\b|\\bSnap-on\\b|\\bHunter\\b|\\bWhip\\b|\\bChallenger\\b|\\bGray\\b|\\bARI\\b)/;\nconst titleOk = !parsed.new_title || (!banned.test(parsed.new_title) && parsed.new_title.length <= 70);\nconst metaOk = !parsed.new_meta_description || (!banned.test(parsed.new_meta_description) && parsed.new_meta_description.length <= 170);\nconst bodyOk = !parsed.new_section_body || (!banned.test(parsed.new_section_body) && parsed.new_section_body.length <= 6000);\n\nif (!titleOk || !metaOk || !bodyOk) {\n  return [{json: {qaFailed: true, titleOk, metaOk, bodyOk, ...parsed, opp}}];\n}\n\nreturn [{json: {...parsed, opp, passed: true}}];\n"
      }
    },
    {
      "id": "build_ticket",
      "name": "Build Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        250
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nif (d.skipped || d.qaFailed || d.parseFailed) {\n  return [];  // no ticket \u2014 let Create SEO Ticket get no input and skip\n}\nconst o = d.opp || {};\nconst subject = \"SEO fix for \\\"\" + (o.title || o.slug || 'page') + \"\\\" \u2014 \" + o.opportunity.toLowerCase().replace(/_/g,' ');\n\nconst oppLabel = {\n  HIGH_IMP_LOW_CTR: 'High impressions but low CTR \u2014 title/meta upgrade',\n  PAGE_2_STRUGGLE: 'Stuck on page 2 \u2014 needs content depth',\n  SLEEPING_GIANT: 'Sleeping at position 20+ \u2014 needs major expansion',\n  INDEX_GAP: 'Page has 0 GSC impressions \u2014 indexability issue'\n}[o.opportunity] || o.opportunity;\n\nconst askLine = o.opportunity === 'INDEX_GAP'\n  ? `Investigate why this page has 0 GSC impressions in 90 days. Bee suspects: ${d.diagnosis || 'noindex tag or duplicate content'}.`\n  : `Review SEO fix Bee drafted for \"${o.title || o.slug}\". On approve, I PATCH the page in WordPress.`;\n\nlet diffBlock = '';\nif (d.new_title && o.opportunity !== 'INDEX_GAP') {\n  diffBlock += '\\n--- TITLE ---\\nNEW: ' + d.new_title + '\\n';\n}\nif (d.new_meta_description) {\n  diffBlock += '\\n--- META DESCRIPTION ---\\nNEW: ' + d.new_meta_description + '\\n';\n}\nif (d.new_h2) {\n  diffBlock += '\\n--- NEW H2 SECTION ---\\nHEADING: ' + d.new_h2 + '\\n';\n}\nif (d.new_section_body) {\n  diffBlock += '\\nBODY:\\n' + d.new_section_body + '\\n';\n}\n\nconst content =\n  'ASK\\n' + askLine + '\\n\\n' +\n  'WHY\\n' + oppLabel + '. ' + (o.diagnosis || '') +\n  '\\nURL: ' + o.url +\n  '\\nCurrent rank: ' + (o.avg_position || 'n/a') + (o.top_query ? ' for \"' + o.top_query + '\"' : '') +\n  '\\nLast 90d: ' + (o.impressions_90d || 0) + ' impressions, ' + (o.clicks_90d || 0) + ' clicks (' + (o.ctr_pct || 0) + '% CTR)\\n\\n' +\n  'WHY THIS FIX\\n' + (d.diff_explanation || '') + '\\n' + diffBlock + '\\n' +\n  'WP EDIT URL\\n' + o.wp_edit_url + '\\n\\n' +\n  'IF YOU APPROVE\\nApproval Executor PATCHes ' + o.url + ' in WordPress with the new title/meta/section above. The change is reversible (WP keeps revisions).\\n\\n' +\n  'IF YOU REJECT\\nBee logs this URL+opportunity in Decision Memory and won\\'t re-propose for 30 days.';\n\nconst payload = {\n  properties: {\n    subject: subject.slice(0, 200),\n    content,\n    hs_pipeline: '0',\n    hs_pipeline_stage: '1',\n    hs_ticket_priority: o.priority || 'MEDIUM',\n    agent_name: 'SEO Optimizer',\n    recommendation_type: 'Content Optimization',\n    recommendation_detail: JSON.stringify({\n      action_type: 'wp_patch',  // Approval Executor's wp_patch route\n      wpId: o.wpId,\n      url: o.url,\n      slug: o.slug,\n      wp_type: o.wp_type || (o.type === 'post' ? 'posts' : 'pages'),\n      opportunity: o.opportunity,\n      patch: {\n        title: d.new_title || undefined,\n        excerpt: d.new_meta_description || undefined,  // WP doesn't have meta_description natively; use Yoast or excerpt\n        new_h2: d.new_h2 || undefined,\n        new_section_body: d.new_section_body || undefined\n      }\n    })\n  }\n};\nreturn [{json: {body_str: JSON.stringify(payload)}}];\n"
      }
    },
    {
      "id": "create_ticket",
      "name": "Create SEO Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        250
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tickets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_str }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "S7YZNtmkHgtF72gN",
          "name": "HubSpot Private App"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "id": "no_opp",
      "name": "Log No Opportunity",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1900,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a",
              "name": "status",
              "value": "={{ 'Bee: scanned ' + ($json.pages_scanned || 0) + ' pages, no opportunities crossed thresholds today' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.liftnow.com/wp-json/wp/v2/product_cat?per_page=100&_fields=id,link,slug,name,description,count",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "get-all-product-cats",
      "name": "Get All Product Categories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        600
      ],
      "continueOnFail": true,
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.liftnow.com/wp-json/wp/v2/product_cat?per_page=100&page=2&_fields=id,link,slug,name,description,count",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "get-product-cats-page-2",
      "name": "Get All Product Categories Page 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        800
      ],
      "continueOnFail": true,
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://bid-iq-neon.vercel.app/api/known-models?brands=bendpak,challenger,pks",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-known-models",
      "name": "Fetch Known Models",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        800
      ],
      "continueOnFail": true,
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": true
    }
  ],
  "connections": {
    "Filter Content Pages": {
      "main": [
        [
          {
            "node": "Diagnostic Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic Classifier": {
      "main": [
        [
          {
            "node": "Has Opportunity?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Opportunity?": {
      "main": [
        [
          {
            "node": "Build LLM Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Payload": {
      "main": [
        [
          {
            "node": "Draft Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Fix": {
      "main": [
        [
          {
            "node": "Parse + QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + QA": {
      "main": [
        [
          {
            "node": "Build Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ticket": {
      "main": [
        [
          {
            "node": "Create SEO Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 6AM ET": {
      "main": [
        [
          {
            "node": "Get All Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Fire (Webhook)": {
      "main": [
        [
          {
            "node": "Get All Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Pages": {
      "main": [
        [
          {
            "node": "Get All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Posts": {
      "main": [
        [
          {
            "node": "GSC 90d Search Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC 90d Search Analytics": {
      "main": [
        [
          {
            "node": "Get All Product Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Product Categories": {
      "main": [
        [
          {
            "node": "Get All Product Categories Page 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Product Categories Page 2": {
      "main": [
        [
          {
            "node": "Fetch Known Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Known Models": {
      "main": [
        [
          {
            "node": "Filter Content Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "qMeBXIjguVuaKLLF",
    "executionOrder": "v0"
  },
  "staticData": {
    "node:Daily 6AM ET": {
      "recurrenceRules": [
        15
      ]
    },
    "global": {
      "lastBaselineTicketDate": "2026-05-27",
      "lastScan": "2026-05-28T14:00:07.294Z",
      "lastOppCount": 35
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "eab22f2f-5ad5-47da-9de1-85dbb2ef7d7c",
  "activeVersionId": "eab22f2f-5ad5-47da-9de1-85dbb2ef7d7c",
  "versionCounter": 283,
  "triggerCount": 2,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-28T14:33:21.518Z",
    "createdAt": "2026-05-28T14:33:21.518Z",
    "versionId": "eab22f2f-5ad5-47da-9de1-85dbb2ef7d7c",
    "workflowId": "N03TEmB50zG0XiiP",
    "nodes": [
      {
        "id": "trig_sched",
        "name": "Daily 6AM ET",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          100,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 10 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "trig_manual",
        "name": "Manual Fire (Webhook)",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          100,
          460
        ],
        "parameters": {
          "path": "fire-seo-optimizer",
          "httpMethod": "POST",
          "responseMode": "lastNode",
          "options": {}
        },
        "webhookId": "fire-seo-optimizer"
      },
      {
        "id": "fetch_pages",
        "name": "Get All Pages",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          250
        ],
        "parameters": {
          "method": "GET",
          "url": "https://www.liftnow.com/wp-json/wp/v2/pages?per_page=100&status=publish&_fields=id,link,slug,title,date,excerpt,type",
          "options": {
            "timeout": 60000
          }
        },
        "executeOnce": true,
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "retryOnFail": true
      },
      {
        "id": "fetch_posts",
        "name": "Get All Posts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          400
        ],
        "parameters": {
          "method": "GET",
          "url": "https://www.liftnow.com/wp-json/wp/v2/posts?per_page=100&status=publish&_fields=id,link,slug,title,date,excerpt,type",
          "options": {
            "timeout": 60000
          }
        },
        "executeOnce": true,
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "retryOnFail": true
      },
      {
        "id": "filter_pages",
        "name": "Filter Content Pages",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          325
        ],
        "parameters": {
          "jsCode": "// Bee v3.1 \u2014 assemble ALL content URLs from WP pages + posts + product categories.\nfunction flatten(nodeName) {\n  const out = [];\n  let items;\n  try { items = $(nodeName).all(); } catch (e) { return out; }\n  for (const it of items) {\n    const j = it.json;\n    if (Array.isArray(j)) out.push(...j);\n    else if (j && Array.isArray(j.body)) out.push(...j.body);\n    else if (j && Array.isArray(j.data)) out.push(...j.data);\n    else if (j) out.push(j);\n  }\n  return out;\n}\n\nconst pages = flatten('Get All Pages').map(p => ({...p, _wp_type: 'pages'}));\nconst posts = flatten('Get All Posts').map(p => ({...p, _wp_type: 'posts'}));\nlet cats = [];\ntry {\n  const page1 = flatten('Get All Product Categories');\n  const page2 = flatten('Get All Product Categories Page 2');\n  cats = [...page1, ...page2].map(p => ({...p, _wp_type: 'product_cat'}));\n} catch (e) {}\n\nconst all = [...pages, ...posts, ...cats];\n\nconst SKIP_PAGES = [103, 2];\nconst KILL_URL_PATTERNS = [\n  /\\/wp-/i, /\\/feed/i, /\\/cart/i, /\\/checkout/i, /\\/my-account/i,\n  /\\/privacy/i, /\\/terms/i, /\\/contact/i\n];\n\nconst out = [];\nfor (const p of all) {\n  if (SKIP_PAGES.includes(p.id)) continue;\n  const link = p.link || '';\n  if (!link) continue;\n  if (KILL_URL_PATTERNS.some(re => re.test(link))) continue;\n  // product_cat: skip categories with 0 products (empty pages aren't worth optimizing)\n  if (p._wp_type === 'product_cat' && (p.count || 0) === 0) continue;\n\n  out.push({\n    wpId: p.id,\n    url: link,\n    slug: p.slug || '',\n    title: (p.title && p.title.rendered) || p.name || '',  // categories use `name`\n    type: p.type || p._wp_type || 'page',\n    wp_type: p._wp_type,  // 'pages' | 'posts' | 'product_cat' \u2014 for REST endpoint routing\n    publishedAt: p.date || null,\n    excerpt: p._wp_type === 'product_cat'\n      ? String(p.description || '').replace(/<[^>]+>/g, '').slice(0, 300)\n      : String((p.excerpt && p.excerpt.rendered) || '').replace(/<[^>]+>/g, '').slice(0, 200),\n    description: p._wp_type === 'product_cat' ? (p.description || '') : null,\n    productCount: p._wp_type === 'product_cat' ? (p.count || 0) : null,\n    wp_edit_url: p._wp_type === 'product_cat'\n      ? 'https://liftnow.com/wp-admin/term.php?taxonomy=product_cat&tag_ID=' + p.id\n      : 'https://liftnow.com/wp-admin/post.php?post=' + p.id + '&action=edit',\n  });\n}\n\nreturn out.map(o => ({json: o}));\n"
        }
      },
      {
        "id": "gsc",
        "name": "GSC 90d Search Analytics",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1000,
          325
        ],
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/webmasters/v3/sites/sc-domain%3Aliftnow.com/searchAnalytics/query",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  startDate: $now.minus({days:90}).toFormat(\"yyyy-MM-dd\"),\n  endDate: $now.minus({days:1}).toFormat(\"yyyy-MM-dd\"),\n  dimensions: [\"page\", \"query\"],\n  rowLimit: 1000,\n  dataState: \"final\"\n}) }}",
          "options": {
            "timeout": 60000
          }
        },
        "credentials": {
          "oAuth2Api": {
            "id": "R24TuEIQaF3bmQSZ",
            "name": "Google Search Console OAuth2"
          }
        },
        "executeOnce": true,
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "retryOnFail": true
      },
      {
        "id": "classifier",
        "name": "Diagnostic Classifier",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1300,
          325
        ],
        "parameters": {
          "jsCode": "// Bee v3 \u2014 per-page SEO opportunity detection (memory-conscious)\nconst gsc = $('GSC 90d Search Analytics').first().json;\nconst rows = (gsc.rows || []).slice(0, 1000);\n// Filter Content Pages emits ONE item per page via map() so $input.all() = all pages\nconst pages = $input.all().map(i => i.json);\n\n// Build per-URL aggregation from GSC rows\nconst byUrl = {};\nfor (const r of rows) {\n  const url = r.keys?.[0];\n  if (!url) continue;\n  byUrl[url] = byUrl[url] || {clicks:0, impressions:0, positionSum:0, positionCount:0, queries:[]};\n  const e = byUrl[url];\n  e.clicks += r.clicks || 0;\n  e.impressions += r.impressions || 0;\n  e.positionSum += (r.position || 0) * (r.impressions || 1);\n  e.positionCount += (r.impressions || 1);\n  // Only keep top 8 queries per URL to control memory\n  if (e.queries.length < 8) {\n    e.queries.push({q: r.keys[1], pos: r.position, clicks: r.clicks, impressions: r.impressions});\n  }\n}\n\nconst opportunities = [];\nconst now = Date.now();\n\nfor (const page of pages) {\n  // Try multiple URL variations (with/without trailing slash, http/https)\n  const variants = [page.url, page.url.replace(/\\/$/,''), page.url.replace(/^http:/, 'https:')];\n  let agg = null;\n  for (const v of variants) {\n    if (byUrl[v]) { agg = byUrl[v]; break; }\n    if (byUrl[v + '/']) { agg = byUrl[v + '/']; break; }\n  }\n  // Compute age\n  const ageDays = page.publishedAt ? Math.floor((now - new Date(page.publishedAt).getTime())/86400000) : null;\n  if (!agg) {\n    // No GSC data for this page = either indexability issue OR too new\n    if (ageDays && ageDays > 30) {\n      opportunities.push({\n        ...page,\n        opportunity: 'INDEX_GAP',\n        priority: 'MEDIUM',\n        severity: 0,\n        diagnosis: 'Page is ' + ageDays + 'd old but has 0 GSC impressions in last 90d. Likely an indexability issue (noindex, redirect, low-quality penalty, or never submitted to GSC).',\n        avg_position: null, impressions_90d: 0, clicks_90d: 0,\n        top_query: null\n      });\n    }\n    continue;\n  }\n  const avgPos = agg.positionCount ? agg.positionSum / agg.positionCount : 0;\n  const ctr = agg.impressions ? (agg.clicks / agg.impressions) : 0;\n  agg.queries.sort((a,b) => b.impressions - a.impressions);\n  const topQuery = (agg.queries[0] || {}).q || '';\n\n  // Opportunity classifications\n  if (avgPos >= 1 && avgPos <= 5 && ctr < 0.008 && agg.impressions > 200) {\n    opportunities.push({\n      ...page,\n      opportunity: 'HIGH_IMP_LOW_CTR',\n      priority: 'HIGH',\n      severity: agg.impressions * (0.05 - ctr),  // potential clicks if CTR hit 5%\n      diagnosis: 'Ranks position ' + avgPos.toFixed(1) + ' for \"' + topQuery + '\" with ' + agg.impressions + ' impressions but only ' + (ctr*100).toFixed(2) + '% CTR. Title or meta description likely off-target.',\n      avg_position: Math.round(avgPos*10)/10, impressions_90d: agg.impressions, clicks_90d: agg.clicks,\n      ctr_pct: Math.round(ctr*10000)/100,\n      top_query: topQuery,\n      top_queries: agg.queries.slice(0, 5)\n    });\n  } else if (avgPos >= 11 && avgPos <= 20 && agg.impressions > 50) {\n    opportunities.push({\n      ...page,\n      opportunity: 'PAGE_2_STRUGGLE',\n      priority: 'HIGH',\n      severity: agg.impressions * 0.3,  // potential traffic if breaks page 1\n      diagnosis: 'Stuck on page 2 (position ' + avgPos.toFixed(1) + ') for \"' + topQuery + '\" with ' + agg.impressions + ' impressions. Likely needs content depth: add H2 targeting \"' + topQuery + '\", expand with specific examples / numbers.',\n      avg_position: Math.round(avgPos*10)/10, impressions_90d: agg.impressions, clicks_90d: agg.clicks,\n      ctr_pct: Math.round(ctr*10000)/100,\n      top_query: topQuery,\n      top_queries: agg.queries.slice(0, 5)\n    });\n  } else if (avgPos >= 21 && avgPos <= 50 && agg.impressions > 20) {\n    opportunities.push({\n      ...page,\n      opportunity: 'SLEEPING_GIANT',\n      priority: 'MEDIUM',\n      severity: agg.impressions * 0.1,\n      diagnosis: 'Sleeping at position ' + avgPos.toFixed(1) + ' for \"' + topQuery + '\" \u2014 earning ' + agg.impressions + ' impressions but rarely shown. Either content depth issue or competitor strength. Needs significant content expansion.',\n      avg_position: Math.round(avgPos*10)/10, impressions_90d: agg.impressions, clicks_90d: agg.clicks,\n      ctr_pct: Math.round(ctr*10000)/100,\n      top_query: topQuery,\n      top_queries: agg.queries.slice(0, 5)\n    });\n  }\n}\n\n// Sort by severity (higher = bigger potential traffic win)\nopportunities.sort((a,b) => b.severity - a.severity);\n\n// Take top 5 per run\nconst top = opportunities.slice(0, 5);\n\nconst sd = $getWorkflowStaticData('global');\nsd.lastScan = new Date().toISOString();\nsd.lastOppCount = opportunities.length;\n\nif (!top.length) {\n  return [{json: {noOpportunity: true, pages_scanned: pages.length, gsc_rows: rows.length, opportunities_found: 0, note: 'No SEO opportunities crossing thresholds. Either content is performing well or impressions are still too low.'}}];\n}\n\nreturn top.map(o => ({json: o}));\n"
        }
      },
      {
        "id": "if_opp",
        "name": "Has Opportunity?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1600,
          325
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "a",
                "leftValue": "={{ $json.noOpportunity ? 0 : 1 }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ]
          }
        }
      },
      {
        "id": "build_llm",
        "name": "Build LLM Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          250
        ],
        "parameters": {
          "jsCode": "// REDIRECT_REMAP_INJECTED v8 \u2014 Vercel redirect-check + WC slug fallback\nconst _ALL_ITEMS = $('Filter Content Pages').all().map(i => i.json);\nconst _inItem = $input.first().json || {};\nconst _candidateUrl = _inItem.url || '';\n_inItem._redirectCheck = { attempted: false };\n\n// P1-E HELPER GATE: hard-fail Bee if known-models is empty/errored.\nconst _kmResp = (() => { try { return $('Fetch Known Models').first().json; } catch(e) { return null; }})();\nconst _kmBrands = (_kmResp && _kmResp.brands) || null;\nconst _kmHealthy = _kmBrands && Object.keys(_kmBrands).length > 0 &&\n                   Object.values(_kmBrands).some(b => Array.isArray(b && b.models) && b.models.length > 0);\nif (!_kmHealthy) {\n  _inItem.skipped = true;\n  _inItem.skipReason = 'Bee bailing \u2014 Vercel /api/known-models returned no usable model data. Refusing to draft without grounding.';\n  return [];\n}\n\n\n\nasync function _findInPoolOrFetchCat(absDest) {\n  const _norm = u => (u || '').replace(/\\/+$/, '').toLowerCase();\n  let match = _ALL_ITEMS.find(it => _norm(it.url) === _norm(absDest));\n  if (match) return { match, fetched: false };\n  // Fallback: if it's a /products/<slug>/ URL, try to fetch the WC category by slug\n  const m = absDest.match(/\\/products\\/([^\\/]+)\\/?$/);\n  if (m) {\n    const slug = m[1];\n    try {\n      const cat = await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'https://www.liftnow.com/wp-json/wp/v2/product_cat?slug=' + encodeURIComponent(slug) + '&_fields=id,link,slug,name,description,count',\n        json: true,\n        timeout: 8000,\n        ignoreHttpStatusErrors: true,\n      });\n      if (Array.isArray(cat) && cat.length > 0) {\n        const c = cat[0];\n        return {\n          match: {\n            wpId: c.id,\n            url: c.link,\n            slug: c.slug,\n            title: c.name || '',\n            wp_type: 'product_cat',\n            description: c.description || '',\n            productCount: c.count || 0,\n            wp_edit_url: 'https://liftnow.com/wp-admin/term.php?taxonomy=product_cat&tag_ID=' + c.id,\n          },\n          fetched: true,\n        };\n      }\n    } catch (e) {}\n  }\n  return { match: null, fetched: false };\n}\n\nif (_candidateUrl) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://bid-iq-neon.vercel.app/api/check-redirect?url=' + encodeURIComponent(_candidateUrl),\n      json: true,\n      timeout: 10000,\n      ignoreHttpStatusErrors: true,\n    });\n    _inItem._redirectCheck = { attempted: true, candidateUrl: _candidateUrl, ...res };\n    if (res && res.ok && res.redirected && res.location) {\n      const _absDest = res.location.startsWith('http') ? res.location : ('https://liftnow.com' + res.location);\n      _inItem._redirectCheck.destination = _absDest;\n      const lookup = await _findInPoolOrFetchCat.call(this, _absDest);\n      _inItem._redirectCheck.matchedInPool = !!lookup.match && !lookup.fetched;\n      _inItem._redirectCheck.matchedViaSlugFetch = !!lookup.match && lookup.fetched;\n      if (lookup.match) {\n        const _match = lookup.match;\n        _inItem._originalRedirected = { from: _candidateUrl, to: _absDest, original_wpId: _inItem.wpId };\n        _inItem.wpId = _match.wpId;\n        _inItem.url = _match.url;\n        _inItem.slug = _match.slug;\n        _inItem.title = _match.title || _inItem.title;\n        _inItem.wp_type = _match.wp_type;\n        _inItem.wp_edit_url = _match.wp_edit_url;\n        if (_match.wp_type === 'product_cat') {\n          _inItem.current_description = _match.description || '';\n          _inItem.productCount = _match.productCount || 0;\n        }\n        _inItem._remappedToDestination = true;\n      } else {\n        // P1-E: bail early instead of wasting a draft on an untracked page.\n        _inItem.skipped = true;\n        _inItem.skipReason = 'Bee bailing \u2014 redirected to non-tracked destination: ' + _absDest;\n        return [];\n      }\n    }\n  } catch (e) {\n    _inItem._redirectCheck = { attempted: true, candidateUrl: _candidateUrl, ok: false, error: String(e.message || e).slice(0, 200) };\n    _inItem.skipped = true;\n    _inItem.skipReason = 'Bee bailing \u2014 Vercel /api/check-redirect helper threw: ' + String(e.message || e).slice(0, 150);\n    return [];\n  }\n}\n// END REDIRECT_REMAP_INJECTED v8\n// KB_MODELS_INJECTED \u2014 inject authoritative product model list into LLM\n// system prompt so it can't hallucinate non-existent BendPak/Challenger/PKS models.\ntry {\n  const km = $('Fetch Known Models').first().json;\n  if (km && km.ok && km.brands) {\n    const sections = [];\n    for (const [brand, info] of Object.entries(km.brands)) {\n      const list = (info && info.models) || [];\n      if (list.length === 0) continue;\n      // Cap each brand at first 100 models to keep prompt tokens reasonable\n      const capped = list.slice(0, 100);\n      sections.push('  ' + brand.toUpperCase() + ' (' + list.length + ' total): ' + capped.join(', '));\n    }\n    if (sections.length > 0) {\n      _inItem._kbModelsBlock = '\\n\\n# AUTHORITATIVE PRODUCT MODELS \u2014 Liftnow KB (' + new Date().toISOString().slice(0,10) + ')\\n\\nLiftnow sells exactly these model numbers. If you reference a product, use ONE OF THESE EXACT NAMES. Do NOT invent. If your draft would mention a model not in this list, either pick the closest real one or omit the model number entirely.\\n\\n' + sections.join('\\n') + '\\n\\nHARD RULE: any model name you write must appear character-for-character in the list above. If unsure, refer to the lift category generically (\"two-post asymmetric\", \"four-post heavy-duty\") instead of guessing a specific model.';\n    }\n  }\n} catch (e) {\n  _inItem._kbModelsBlock = '';\n}\n// END KB_MODELS_INJECTED\n\n\n\n\n\n\n\n\n\n\nconst inputItem = $input.first().json || {};\nconst oppOriginal = inputItem.opp || {};\nconst candidateUrl = oppOriginal.url || '';\nif (candidateUrl) {\n  const dest = await checkRedirect.call(this, candidateUrl);\n  if (dest) {\n    // Resolve relative dest to absolute\n    const absDest = dest.startsWith('http') ? dest : ('https://liftnow.com' + dest);\n    // Try to find a candidate item with matching link (normalize trailing slash)\n    const norm = u => (u || '').replace(/\\/$/, '').toLowerCase();\n    const match = ALL_ITEMS.find(it => norm(it.url) === norm(absDest));\n    if (match) {\n      // Remap: replace opp's wp target with destination's\n      oppOriginal._originalRedirected = {from: candidateUrl, to: absDest, original_wpId: oppOriginal.wpId};\n      oppOriginal.wpId = match.wpId;\n      oppOriginal.url = match.url;\n      oppOriginal.slug = match.slug;\n      oppOriginal.title = match.title || oppOriginal.title;\n      oppOriginal.wp_type = match.wp_type;\n      oppOriginal.wp_edit_url = match.wp_edit_url;\n      // For categories, expose the existing description so LLM knows what's there\n      if (match.wp_type === 'product_cat') {\n        oppOriginal.current_description = match.description || '';\n      }\n      inputItem.opp = oppOriginal;\n      inputItem._remappedToDestination = true;\n    } else {\n      // Destination not in our pool \u2014 skip this opp entirely\n      inputItem.skipped = true;\n      inputItem.skipReason = 'redirected to non-tracked destination: ' + absDest;\n      return [{json: inputItem}];\n    }\n  }\n}\n// Bee v3 \u2014 build LLM payload for on-page fix\nconst VOICE = \"# VOICE \\u2014 PAUL STERN ARTICLE VOICE (mandatory for SEO drafts)\\n\\nYou are drafting on-page SEO fixes for a Liftnow content page. The page will be PATCHed in WordPress on Paul's approval. Match Paul's voice.\\n\\n## ALWAYS\\n- Brand: \\\"Liftnow\\\" (never \\\"LiftNow\\\" or \\\"LIFTNOW\\\")\\n- First-person plural \\\"we\\\" for Liftnow actions, \\\"you\\\" for reader\\n- Hedged contract promises: \\\"typically\\\", \\\"depending on the contract\\\", \\\"confirmed on the quote\\\"\\n- Industry shorthand without explanation (GVWR, Class 8, frame engagement, rolling jacks)\\n- Specific numbers always\\n- Active voice\\n\\n## NEVER\\n- \\\"Revolutionary\\\", \\\"industry-leading\\\", \\\"best-in-class\\\", \\\"cutting-edge\\\"\\n- \\\"In today's fast-paced fleet management world...\\\"\\n- Competitor brand names as Liftnow products (no Mohawk, Stertil-Koni, Rotary, Ari-Hetra, Hunter, Snap-on, Whip, Challenger)\\n- Absolute promises (\\\"always\\\", \\\"every\\\")\\n- \\\"ALI-certified inspection\\\" for Liftnow's service (we subcontract)\\n- \\\"We don't subcontract\\\" (false)\\n- \\\"45+ states\\\" \\u2014 use \\\"all 50 states\\\"\\n\\n## SEO-SPECIFIC\\n- Titles: 55-60 chars max. Include target keyword in first 3 words when natural.\\n- Meta description: 150-160 chars max. Include target keyword + concrete value proposition. End with implicit CTA.\\n- H2 sections: phrase as a question or specific claim the target keyword would search for.\\n- Body additions: 150-400 words of new content. Specific examples, numbers, scenarios.\\n\\n# IDENTITY \u2014 HARD RULE (overrides any conflicting voice instruction below)\\n\\nYou are writing AS LIFTNOW. Liftnow is a Sourcewell-contracted commercial vehicle lift DEALER + installer. Liftnow is NOT a fleet operator, NOT a customer, NOT an end user of the lifts. Liftnow SELLS and INSTALLS the lifts to government fleets, transit agencies, school districts, etc.\\n\\n## NEVER position Liftnow as a customer\\n- \u274c \\\"We just took delivery of a four-post mobile column set for our 47-truck fleet\\\"\\n- \u274c \\\"We installed a CL20 in our shop last week\\\"\\n- \u274c \\\"Our maintenance team uses...\\\"\\n- \u274c \\\"Our fleet runs...\\\"\\n- \u274c \\\"Since we switched to BendPak lifts...\\\"\\n- \u274c Any first-person \\\"we bought / we own / we operate / we maintain\\\" framing where \\\"we\\\" = a fleet that uses lifts.\\n\\n## ALWAYS position Liftnow as the dealer/installer\\n- \u2705 \\\"We spec'd a four-post mobile column set for a 47-truck municipal fleet last quarter \u2014 here's the breakdown.\\\"\\n- \u2705 \\\"From the Liftnow shop floor: across maybe 30 transit-bus installs in the past 18 months, the consistent friction point is column spacing on older depot bays.\\\"\\n- \u2705 \\\"When a customer asks us about CL20 vs CL12A, the real spec gap is...\\\"\\n- \u2705 \\\"Across the Liftnow installer network, the most common failure mode is...\\\"\\n- \u2705 \\\"Liftnow's been quoting under Sourcewell 121223-LFT since [date]; the contract field that catches buyers off-guard is...\\\"\\n\\n## Disclosure\\nThe reader should understand within the first 2 sentences that this is from a vendor sharing what they've learned, not from a fleet operator describing their own setup. If you can't write the piece without making Liftnow sound like a customer, RETURN skip:true.\\n\\n## Platform-specific\\n- LinkedIn: byline \\\"By Paul Stern, VP Public Sector Sales \u2014 Liftnow\\\" makes the dealer relationship clear; voice can still be first-person about Liftnow's experience.\\n- Reddit: even MORE careful \u2014 reddit users downvote covert advertising. Sign reply/post with \\\"\u2014 Paul, Liftnow\\\" or open with \\\"Liftnow rep here, but adding actual content vs sales pitch:\\\". Be honest about who you are; redditors respect honesty more than coverage.\\n- Blog/article: byline + clear \\\"Liftnow's experience across N installs\\\" framing in the opening.\\n\\n## Test before submitting\\nRe-read the draft. Ask: \\\"Would a reasonable reader think the author is a fleet operator who bought lifts?\\\" If yes, REWRITE entirely.\\n\\n\\n# PRICING \u2014 HARD RULE (additional to identity rule above)\\nNEVER include pricing estimates, dollar figures, contract pricing, \\\"starts at $X\\\", or \\\"$X-$Y range\\\" in any public post. Pricing has too many config-specific variables; posting a number anchors readers on figures that won't match their actual quote. Acceptable hedges:\\n- \\\"confirmed on the quote\\\"\\n- \\\"depends on your bay dimensions and vehicle list\\\"\\n- \\\"pricing varies by Sourcewell discount tier and configuration\\\"\\n- \\\"send your vehicle list + bay dimensions to gov@liftnow.com for a quote\\\"\\n\\nIf your draft includes any specific dollar figure for lift purchase, install, or contract cost, REMOVE it before posting. Even comparative pricing (\\\"Liftnow's typically 15-20% less than X\\\") is banned in public copy.\\n\";\nconst item = $input.first().json;\nconst opp = item.opportunity || '';\nconst topQueries = (item.top_queries || []).slice(0, 5).map(q => `  - \"${q.q}\" (pos ${q.pos.toFixed(1)}, ${q.impressions} imp, ${q.clicks} clicks)`).join(\"\\n\");\n\nlet task = '';\nif (opp === 'HIGH_IMP_LOW_CTR') {\n  task = `The page already ranks well (pos ${item.avg_position}) but the title/meta isn't getting clicked.\n\nGenerate:\n- new_title: a more compelling SEO title (55-60 chars) that hits \"${item.top_query}\" + Liftnow's specific value\n- new_meta_description: 150-160 chars, must mention \"${item.top_query}\", end with a concrete CTA-feel\n- diff_explanation: 1-2 sentences on why this should improve CTR`;\n} else if (opp === 'PAGE_2_STRUGGLE') {\n  task = `The page is on page 2 (pos ${item.avg_position}) for \"${item.top_query}\". It needs more content depth to break into page 1.\n\nGenerate:\n- new_h2: an H2 section heading that directly answers a search query a fleet manager would type when looking for \"${item.top_query}\". Phrase as a question or specific claim.\n- new_section_body: 200-400 words of substantive content under that H2. Include 2-3 specific numbers/examples (capacity ranges, real fleet sizes, contract specifics). MUST be in Paul's voice \u2014 no marketing fluff.\n- diff_explanation: 1-2 sentences on why this should push the page to page 1`;\n} else if (opp === 'SLEEPING_GIANT') {\n  task = `Page is sleeping at position ${item.avg_position} for \"${item.top_query}\". Likely competitor content has more depth.\n\nGenerate:\n- new_h2: H2 specifically targeting the gap\n- new_section_body: 300-500 words. Show domain expertise \u2014 specific spec ranges, contract clauses, real fleet scenarios.\n- diff_explanation: what depth was missing`;\n} else if (opp === 'INDEX_GAP') {\n  task = `Page exists but has 0 GSC impressions in 90 days. Diagnose what's wrong.\n\nGenerate:\n- diagnosis: ONE of: \"noindex tag present\", \"duplicate content with another page\", \"thin content / low quality\", \"URL structure issue\", \"submission gap\"\n- recommended_action: what to do (e.g. \"Submit to GSC manually, check robots.txt\")\n- new_section_body: leave empty for this opportunity type`;\n} else {\n  task = `Generic SEO optimization. Suggest the top 1 change to make to this page.`;\n}\n\nconst userMsg = `Page: ${item.title}\nURL: ${item.url}\nCurrent excerpt: ${item.excerpt}\n\nGSC top queries (last 90d):\n${topQueries}\n\nOpportunity type: ${opp}\nDiagnosis: ${item.diagnosis}\n\n${task}\n\nOutput ONLY valid JSON in this exact shape:\n{\n  \"new_title\": \"...\",\n  \"new_meta_description\": \"...\",\n  \"new_h2\": \"...\",\n  \"new_section_body\": \"...\",\n  \"diff_explanation\": \"...\",\n  \"skip\": false,\n  \"skip_reason\": \"\"\n}\n\nLeave any field empty string \"\" if not applicable to this opportunity type. If you can't produce a quality fix, set skip:true.`;\n\n\n// KB_MODELS_APPEND_TO_LLM \u2014 make sure the KB models block ends up in the system prompt\nif (_inItem && _inItem._kbModelsBlock && _inItem.llmBody && _inItem.llmBody.system) {\n  _inItem.llmBody.system = String(_inItem.llmBody.system) + _inItem._kbModelsBlock;\n}\n\nreturn [{json: {...item, llmBody: {\n  model: \"claude-sonnet-4-5\",\n  max_tokens: 2500,\n  system: VOICE,\n  messages: [{role: \"user\", content: userMsg}]\n}, llmBodyStr: JSON.stringify({\n  model: \"claude-sonnet-4-5\",\n  max_tokens: 2500,\n  system: VOICE,\n  messages: [{role: \"user\", content: userMsg}]\n})}}];\n"
        }
      },
      {
        "id": "draft",
        "name": "Draft Fix",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2200,
          250
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $credentials.httpHeaderAuth.password }}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.llmBodyStr }}",
          "options": {
            "timeout": 90000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "bU6QPziNPD0EYh5j",
            "name": "Anthropic API Key"
          }
        }
      },
      {
        "id": "parse",
        "name": "Parse + QA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2500,
          250
        ],
        "parameters": {
          "jsCode": "const resp = $input.first().json;\nconst text = (resp.content && resp.content[0] && resp.content[0].text) || '';\nconst opp = $('Build LLM Payload').first().json;\n\nlet parsed;\ntry {\n  const m = text.match(/\\{[\\s\\S]+\\}/);\n  parsed = JSON.parse(m[0]);\n} catch (e) {\n// KB_MODELS_QA_CHECK \u2014 scan body for model-looking strings and verify each is in the known list\ntry {\n  const km = $('Fetch Known Models').first().json;\n  if (km && km.ok && km.brands) {\n    const knownSet = new Set();\n    for (const info of Object.values(km.brands)) {\n      for (const m of (info.models || [])) knownSet.add(String(m).toUpperCase());\n    }\n    if (knownSet.size > 0) {\n      const body = String((newSection || '') + ' ' + (newTitle || '') + ' ' + (newExcerpt || ''));\n      // Find model-looking strings: 2-6 letter prefix + digits + optional suffix\n      const matches = body.match(/\\b[A-Z][A-Z0-9]{0,5}-?\\d{1,5}[A-Z0-9\\-]{0,10}\\b/g) || [];\n      const violators = [];\n      for (const m of matches) {\n        const up = m.toUpperCase();\n        // Skip obvious non-models\n        if (up.length < 3 || up.length > 25) continue;\n        if (/^\\d+$/.test(up)) continue;\n        if (!/[A-Z]/.test(up)) continue;\n        if (!/\\d/.test(up)) continue;\n        if (/^(TSB|REV|IOM|FR|EN|US|YR|CES|ANSI|ALI|GVWR|CFM|HP|LB|LBS|KG|KGS|FT|MM|CM|MPG|MPH|RPM|PSI)$/.test(up)) continue;\n        // Skip common non-product patterns: \"Type 1\", \"Class 8\", \"F-550\", \"10K\", etc\n        if (/^(TYPE|CLASS|F-?\\d+|[\\d]+K|[\\d]+LB|[\\d]+FT|[\\d]+MM)$/i.test(up)) continue;\n        // Skip year-like\n        if (/^(19|20)\\d{2}$/.test(up)) continue;\n        if (!knownSet.has(up)) {\n          violators.push(m);\n        }\n      }\n      if (violators.length > 0) {\n        bodyOk = false;\n        qaFailures = (qaFailures || []);\n        qaFailures.push('UNKNOWN_MODELS: ' + Array.from(new Set(violators)).slice(0, 8).join(', '));\n      }\n    }\n  }\n} catch (e) {}\n// END KB_MODELS_QA_CHECK\n\n  return [{json: {parseFailed: true, raw: text.slice(0, 500), opp}}];\n}\n\nif (parsed.skip) {\n  return [{json: {skipped: true, reason: parsed.skip_reason, opp}}];\n}\n\n// Voice gate\nconst banned = /(LiftNow|LIFTNOW|45\\+ states|We don'?t subcontract|dealing directly|ALI-certified inspection|industry-leading|best-in-class|cutting-edge|revolutionary|in this post|in today'?s fast-paced|\\bMohawk\\b|\\bStertil-Koni\\b|\\bRotary\\b|\\bSnap-on\\b|\\bHunter\\b|\\bWhip\\b|\\bChallenger\\b|\\bGray\\b|\\bARI\\b)/;\nconst titleOk = !parsed.new_title || (!banned.test(parsed.new_title) && parsed.new_title.length <= 70);\nconst metaOk = !parsed.new_meta_description || (!banned.test(parsed.new_meta_description) && parsed.new_meta_description.length <= 170);\nconst bodyOk = !parsed.new_section_body || (!banned.test(parsed.new_section_body) && parsed.new_section_body.length <= 6000);\n\nif (!titleOk || !metaOk || !bodyOk) {\n  return [{json: {qaFailed: true, titleOk, metaOk, bodyOk, ...parsed, opp}}];\n}\n\nreturn [{json: {...parsed, opp, passed: true}}];\n"
        }
      },
      {
        "id": "build_ticket",
        "name": "Build Ticket",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2800,
          250
        ],
        "parameters": {
          "jsCode": "const d = $input.first().json;\nif (d.skipped || d.qaFailed || d.parseFailed) {\n  return [];  // no ticket \u2014 let Create SEO Ticket get no input and skip\n}\nconst o = d.opp || {};\nconst subject = \"SEO fix for \\\"\" + (o.title || o.slug || 'page') + \"\\\" \u2014 \" + o.opportunity.toLowerCase().replace(/_/g,' ');\n\nconst oppLabel = {\n  HIGH_IMP_LOW_CTR: 'High impressions but low CTR \u2014 title/meta upgrade',\n  PAGE_2_STRUGGLE: 'Stuck on page 2 \u2014 needs content depth',\n  SLEEPING_GIANT: 'Sleeping at position 20+ \u2014 needs major expansion',\n  INDEX_GAP: 'Page has 0 GSC impressions \u2014 indexability issue'\n}[o.opportunity] || o.opportunity;\n\nconst askLine = o.opportunity === 'INDEX_GAP'\n  ? `Investigate why this page has 0 GSC impressions in 90 days. Bee suspects: ${d.diagnosis || 'noindex tag or duplicate content'}.`\n  : `Review SEO fix Bee drafted for \"${o.title || o.slug}\". On approve, I PATCH the page in WordPress.`;\n\nlet diffBlock = '';\nif (d.new_title && o.opportunity !== 'INDEX_GAP') {\n  diffBlock += '\\n--- TITLE ---\\nNEW: ' + d.new_title + '\\n';\n}\nif (d.new_meta_description) {\n  diffBlock += '\\n--- META DESCRIPTION ---\\nNEW: ' + d.new_meta_description + '\\n';\n}\nif (d.new_h2) {\n  diffBlock += '\\n--- NEW H2 SECTION ---\\nHEADING: ' + d.new_h2 + '\\n';\n}\nif (d.new_section_body) {\n  diffBlock += '\\nBODY:\\n' + d.new_section_body + '\\n';\n}\n\nconst content =\n  'ASK\\n' + askLine + '\\n\\n' +\n  'WHY\\n' + oppLabel + '. ' + (o.diagnosis || '') +\n  '\\nURL: ' + o.url +\n  '\\nCurrent rank: ' + (o.avg_position || 'n/a') + (o.top_query ? ' for \"' + o.top_query + '\"' : '') +\n  '\\nLast 90d: ' + (o.impressions_90d || 0) + ' impressions, ' + (o.clicks_90d || 0) + ' clicks (' + (o.ctr_pct || 0) + '% CTR)\\n\\n' +\n  'WHY THIS FIX\\n' + (d.diff_explanation || '') + '\\n' + diffBlock + '\\n' +\n  'WP EDIT URL\\n' + o.wp_edit_url + '\\n\\n' +\n  'IF YOU APPROVE\\nApproval Executor PATCHes ' + o.url + ' in WordPress with the new title/meta/section above. The change is reversible (WP keeps revisions).\\n\\n' +\n  'IF YOU REJECT\\nBee logs this URL+opportunity in Decision Memory and won\\'t re-propose for 30 days.';\n\nconst payload = {\n  properties: {\n    subject: subject.slice(0, 200),\n    content,\n    hs_pipeline: '0',\n    hs_pipeline_stage: '1',\n    hs_ticket_priority: o.priority || 'MEDIUM',\n    agent_name: 'SEO Optimizer',\n    recommendation_type: 'Content Optimization',\n    recommendation_detail: JSON.stringify({\n      action_type: 'wp_patch',  // Approval Executor's wp_patch route\n      wpId: o.wpId,\n      url: o.url,\n      slug: o.slug,\n      wp_type: o.wp_type || (o.type === 'post' ? 'posts' : 'pages'),\n      opportunity: o.opportunity,\n      patch: {\n        title: d.new_title || undefined,\n        excerpt: d.new_meta_description || undefined,  // WP doesn't have meta_description natively; use Yoast or excerpt\n        new_h2: d.new_h2 || undefined,\n        new_section_body: d.new_section_body || undefined\n      }\n    })\n  }\n};\nreturn [{json: {body_str: JSON.stringify(payload)}}];\n"
        }
      },
      {
        "id": "create_ticket",
        "name": "Create SEO Ticket",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3240,
          250
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/tickets",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.body_str }}",
          "options": {
            "timeout": 30000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "S7YZNtmkHgtF72gN",
            "name": "HubSpot Private App"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 3000,
        "continueOnFail": true
      },
      {
        "id": "no_opp",
        "name": "Log No Opportunity",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1900,
          400
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a",
                "name": "status",
                "value": "={{ 'Bee: scanned ' + ($json.pages_scanned || 0) + ' pages, no opportunities crossed thresholds today' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://www.liftnow.com/wp-json/wp/v2/product_cat?per_page=100&_fields=id,link,slug,name,description,count",
          "options": {
            "timeout": 30000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "get-all-product-cats",
        "name": "Get All Product Categories",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          600
        ],
        "continueOnFail": true,
        "executeOnce": true,
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://www.liftnow.com/wp-json/wp/v2/product_cat?per_page=100&page=2&_fields=id,link,slug,name,description,count",
          "options": {
            "timeout": 30000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "get-product-cats-page-2",
        "name": "Get All Product Categories Page 2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          800
        ],
        "continueOnFail": true,
        "executeOnce": true,
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://bid-iq-neon.vercel.app/api/known-models?brands=bendpak,challenger,pks",
          "options": {
            "timeout": 15000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "fetch-known-models",
        "name": "Fetch Known Models",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          800
        ],
        "continueOnFail": true,
        "executeOnce": true,
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "retryOnFail": true
      }
    ],
    "connections": {
      "Filter Content Pages": {
        "main": [
          [
            {
              "node": "Diagnostic Classifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Diagnostic Classifier": {
        "main": [
          [
            {
              "node": "Has Opportunity?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Opportunity?": {
        "main": [
          [
            {
              "node": "Build LLM Payload",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log No Opportunity",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build LLM Payload": {
        "main": [
          [
            {
              "node": "Draft Fix",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Draft Fix": {
        "main": [
          [
            {
              "node": "Parse + QA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse + QA": {
        "main": [
          [
            {
              "node": "Build Ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Ticket": {
        "main": [
          [
            {
              "node": "Create SEO Ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily 6AM ET": {
        "main": [
          [
            {
              "node": "Get All Pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Fire (Webhook)": {
        "main": [
          [
            {
              "node": "Get All Pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Pages": {
        "main": [
          [
            {
              "node": "Get All Posts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Posts": {
        "main": [
          [
            {
              "node": "GSC 90d Search Analytics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GSC 90d Search Analytics": {
        "main": [
          [
            {
              "node": "Get All Product Categories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Product Categories": {
        "main": [
          [
            {
              "node": "Get All Product Categories Page 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Product Categories Page 2": {
        "main": [
          [
            {
              "node": "Fetch Known Models",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Known Models": {
        "main": [
          [
            {
              "node": "Filter Content Pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Paul Stern",
    "name": null,
    "description": null,
    "autosaved": false
  }
}